:root {
  --button-color: rgba(245, 244, 250, 1);
  --hover-color: rgba(33, 150, 243, 1);
  --focus-color: rgba(33, 150, 243, 1);
  --font-color-basic: rgba(33, 33, 33, 1);
  --font-color-small: rgba(117, 117, 117, 1);
  --font-weight-super-large: 900;
  --font-weight-large: 700;
  --font-weight-medium: 500;
  --font-weight-small: 400;
  --font-family-Raleway: Raleway, sans-serif;
}
/* header */
.logo {
  font-family: var(--font-family-Raleway);
  line-height: 1.19;
  letter-spacing: 0.04875em;
}

a:link {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  color: var(--font-color-small);
  cursor: default;
  line-height: 1.14;
  letter-spacing: 0.0175em;
}
.navigation,
a:visited {
  font-weight: var(--font-weight-medium);
  color: inherit;
  list-style: none;
  line-height: 2;
  letter-spacing: 0.0175em;
}
.kontakt {
  color: var(--font-color-small);
  list-style: none;
  font-family: inherit;
}
a:hover {
  color: var(--hover-color);
}
a:focus {
  color: var(--focus-color);
}

/* main */
body {
  font-family: "roboto", sans-serif;
  color: var(--font-color-basic);
}
.filter {
  list-style: none;
  font-family: inherit;
}
button {
  background-color: var(--button-color);
  font-family: inherit;
  border: none;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  line-height: 1.625;
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.brand-pictures {
  list-style: none;
}
.large-font {
  font-weight: var(--font-weight-large);
  font-family: inherit;
  line-height: 2;
  letter-spacing: 0.03375em;
}
.small-font {
  color: var(--font-color-small);
  font-weight: var(--font-weight-small);
  font-family: inherit;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
button:hover {
  background-color: var(--hover-color);
  color: rgba(255, 255, 255, 1);
}
button:focus {
  background-color: var(--focus-color);
  color: rgba(255, 255, 255, 1);
}

/* stylowanie dla index */
h1 {
  font-family: inherit;
  font-weight: var(--font-weight-super-large);
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.165em;
}
.home-list {
  list-style: none;
}
.task-list {
  list-style: none;
}
.crew {
  list-style: none;
}
h2 {
  font-weight: var(--font-weight-large);
  font-family: inherit;
  letter-spacing: 0.02625em;
}
address {
  font-style: normal;
  font-family: inherit;
  line-height: 1.71;
  letter-spacing: 0.02625em;
}
