body {
  font-family: "roboto", sans-serif;
}
ul.filter li {
  list-style: none;
}
ul.pictures {
  display: flex;
  flex-wrap: wrap;
}

ul.pictures li {
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

ul.pictures li img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

ul.pictures li strong {
  display: block;
  margin: 10px 0;
}

img:hover {
  border: 2px solid rgba(33, 150, 243, 1);
}
li:hover {
  text-decoration: underline;
  text-decoration-color: rgba(33, 150, 243, 1);
  text-decoration-thickness: 2px;
}
button {
  background-color: #f5f4fa;
  font-weight: 500;
  color: #212121;
  border: none;
  cursor: pointer;
}
.filter {
  display: flex;
  justify-content: center; /* wyśrodkowanie w poziomie */
  align-items: center; /* wyśrodkowanie w pionie */
}

.filter li {
  margin-right: 10px; /* dodatkowa przestrzeń między przyciskami */
}

.filter button {
  background-color: #f5f4fa;
  font-weight: 500;
  color: #212121;
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* dodatkowy padding dla przycisków */
}
button:hover {
  background-color: rgba(33, 150, 243, 1);
}
button:focus {
  background-color: rgba(33, 150, 243, 1);
}
a:hover,
a:focus {
  color: rgba(33, 33, 33, 1);
  color: rgba(33, 150, 243, 1);
  font-weight: 500;
}
strong {
  color: #212121;
  font-weight: 700;
}
ul.pictures li {
  color: #757575;
  line-height: 2;
  list-style-type: none;
}
